In [256]:
import pandas as pd
import csv

In [257]:
file_path = "Resources/combined_csv.csv"

In [258]:
file_df = pd.read_csv(file_path)
file_df.head()

    timestamp   open   high     low  close     volume Ticker      Sector
0  2020-07-02  48.41  49.08  47.245  47.79   18193240     MS  Financials
1  2020-06-30  44.52  51.85  43.950  48.30  296550339     MS  Financials
2  2020-05-29  38.35  47.32  35.530  44.20  252483991     MS  Financials
3  2020-04-30  31.68  41.85  31.160  39.43  346304903     MS  Financials
4  2020-03-31  45.11  46.92  27.200  34.00  581088494     MS  Financials

In [259]:
sorted_df = file_df.sort_values(by=['timestamp'])
sorted_df.head()

        timestamp    open    high    low   close    volume Ticker       Sector
11173  2000-07-31   85.44   91.94  78.12   81.81  21970800    UNH  Health Care
13820  2000-07-31  101.30  101.40  90.25   93.06  67023900    JNJ  Health Care
959    2000-08-31   20.50   23.69  20.00   23.13  17514100    TMO  Health Care
18859  2000-08-31   75.25  111.60  74.88  108.00  13343200   GILD  Health Care
5857   2000-08-31   99.00  129.50  97.00  129.50  53400600     GS   Financials

In [260]:
#start_drop_dates = sorted_df
cleaned_df = sorted_df.loc[(sorted_df['timestamp']>'2014-11-30')]
predict_df = cleaned_df.loc[(cleaned_df['timestamp']<'2020-01-01')]
print(cleaned_df)
predict_df.tail()

        timestamp    open    high      low    close     volume Ticker  \
5457   2014-12-31   85.88   91.94   81.660   89.310   62647413    ACN
7775   2014-12-31   73.41   75.66   70.780   72.200  150299734    MDT
15088  2014-12-31  148.61  152.94  144.750  150.150   93432673  BRK.B
19876  2014-12-31   46.46   49.68   44.910   47.710   38554847      O
18208  2014-12-31   27.50   28.59   26.150   27.815  577451832   CSCO
...           ...     ...     ...      ...      ...        ...    ...
960    2020-07-02  126.60  127.17  124.670  125.810    8821479    TXN
7468   2020-07-02   63.75   65.41   63.660   64.430    1589739   BF-B
7228   2020-07-02   27.50   29.46   27.280   28.470    8471003   PEAK
6754   2020-07-02   42.15   42.77   40.750   41.980   14948347    WBA
0      2020-07-02   48.41   49.08   47.245   47.790   18193240     MS

                       Sector
5457   Information Technology
7775              Health Care
15088              Financials
19876             Real Estate
18208  Information Technology
...                       ...
960    Information Technology
7468         Consumer Staples
7228              Real Estate
6754         Consumer Staples
0                  Financials

[6742 rows x 8 columns]

,timestamp,open,high,low,close,volume,Ticker,Sector
15028,2019-12-31,220.60,228.23,216.3952,226.50,79367551,BRK.B,Financials
9981,2019-12-31,136.65,138.25,134.3200,136.67,82804561,PEP,Consumer Staples
5625,2019-12-31,220.97,232.21,210.0000,229.93,46388859,GS,Financials
14308,2019-12-31,216.46,241.81,200.3700,235.30,164328924,NVDA,Information Technology
13828,2019-12-31,495.28,506.81,478.6800,502.70,8977543,BLK,Financials

In [271]:
tech_df = cleaned_df.loc[(cleaned_df['Sector'] == 'Financials')]
tech_df = tech_df.sort_values(['Ticker', 'timestamp'], ascending = True)
# tech_df["Monthly Change"] = ""
# tech_df["Quarterly Change"] = ""
# tech_df["Yearly Change"] = ""

first_df_1 = tech_df.loc[(tech_df['timestamp'] > '2014-11-30') & (tech_df['timestamp'] <= '2015-03-31')]


first_df_2 = tech_df.loc[(tech_df['timestamp'] > '2015-03-15') & (tech_df['timestamp'] <= '2015-06-30')]


first_df_3 = tech_df.loc[(tech_df['timestamp'] > '2015-06-15') & (tech_df['timestamp'] <= '2015-09-30')]


first_df_4 = tech_df.loc[(tech_df['timestamp'] > '2015-09-15') & (tech_df['timestamp'] <= '2015-12-31')]



second_df_1 = tech_df.loc[(tech_df['timestamp'] > '2015-11-30') & (tech_df['timestamp'] <= '2016-03-31')]


second_df_2 = tech_df.loc[(tech_df['timestamp'] > '2016-03-15') & (tech_df['timestamp'] <= '2016-06-30')]


second_df_3 = tech_df.loc[(tech_df['timestamp'] > '2016-06-15') & (tech_df['timestamp'] <= '2016-09-30')]


second_df_4 = tech_df.loc[(tech_df['timestamp'] > '2016-09-15') & (tech_df['timestamp'] <= '2016-12-31')]



third_df_1 = tech_df.loc[(tech_df['timestamp'] > '2016-11-30') & (tech_df['timestamp'] <= '2017-03-31')]


third_df_2 = tech_df.loc[(tech_df['timestamp'] > '2017-03-15') & (tech_df['timestamp'] <= '2017-06-30')]


third_df_3 = tech_df.loc[(tech_df['timestamp'] > '2017-06-15') & (tech_df['timestamp'] <= '2017-09-30')]


third_df_4 = tech_df.loc[(tech_df['timestamp'] > '2017-09-15') & (tech_df['timestamp'] <= '2017-12-31')]



fourth_df_1 = tech_df.loc[(tech_df['timestamp'] > '2017-11-30') & (tech_df['timestamp'] <= '2018-03-31')]


fourth_df_2 = tech_df.loc[(tech_df['timestamp'] > '2018-03-15') & (tech_df['timestamp'] <= '2018-06-30')]


fourth_df_3 = tech_df.loc[(tech_df['timestamp'] > '2018-06-15') & (tech_df['timestamp'] <= '2018-09-30')]


fourth_df_4 = tech_df.loc[(tech_df['timestamp'] > '2018-09-15') & (tech_df['timestamp'] <= '2018-12-31')]



fifth_df_1 = tech_df.loc[(tech_df['timestamp'] > '2018-11-30') & (tech_df['timestamp'] <= '2019-03-31')]


fifth_df_2 = tech_df.loc[(tech_df['timestamp'] > '2019-03-15') & (tech_df['timestamp'] <= '2019-06-30')]


fifth_df_3 = tech_df.loc[(tech_df['timestamp'] > '2019-06-15') & (tech_df['timestamp'] <= '2019-09-30')]


fifth_df_4 = tech_df.loc[(tech_df['timestamp'] > '2019-09-15') & (tech_df['timestamp'] <= '2019-12-31')]


sixth_df_1 = tech_df.loc[(tech_df['timestamp'] > '2019-11-30') & (tech_df['timestamp'] <= '2020-03-31')]


sixth_df_2 = tech_df.loc[(tech_df['timestamp'] > '2020-03-15') & (tech_df['timestamp'] <= '2020-06-30')]
sixth_df_2


# second_df = tech_df.loc[(tech_df['timestamp'] > '2015-11-30') & (tech_df['timestamp'] <= '2016-12-31')]
# second_df.head(15)

# third_df = tech_df.loc[(tech_df['timestamp'] > '2016-11-30') & (tech_df['timestamp'] <= '2017-12-31')]
# third_df.head(15)

# fourth_df = tech_df.loc[(tech_df['timestamp'] > '2017-11-30') & (tech_df['timestamp'] <= '2018-12-31')]
# fourth_df.head(15)

# fifth_df = tech_df.loc[(tech_df['timestamp'] > '2018-11-30') & (tech_df['timestamp'] <= '2019-12-31')]
# fifth_df.head(15)

# sixth_df = tech_df.loc[(tech_df['timestamp'] > '2019-11-30') & (tech_df['timestamp'] <= '2020-06-30')]
# sixth_df.head(15)

# for x in range(len(tech_df)-1):
#     monthlychange = tech_df['close'].next - tech_df['close']
#     monthlychange

,timestamp,open,high,low,close,volume,Ticker,Sector
3784,2020-03-31,208.7800,225.560,143.930,165.04,63254820,AON,Financials
3783,2020-04-30,167.5100,194.320,151.040,172.67,31639700,AON,Financials
3782,2020-05-29,171.5100,201.530,169.290,196.95,29987645,AON,Financials
3781,2020-06-30,196.2800,204.400,177.210,192.60,34532984,AON,Financials
3544,2020-03-31,111.1100,116.400,67.000,85.61,227335554,AXP,Financials
...,...,...,...,...,...,...,...,...
17182,2020-06-30,35.7900,44.255,35.610,36.82,230567811,USB,Financials
16225,2020-03-31,40.9800,42.900,25.105,28.70,1113269738,WFC,Financials
16224,2020-04-30,27.0197,33.910,25.910,29.05,866529143,WFC,Financials
16223,2020-05-29,28.5000,28.530,22.000,26.47,1053964154,WFC,Financials
16222,2020-06-30,26.6100,33.890,25.170,25.60,1220237005,WFC,Financials

In [272]:
# tech_close_df = tech_df['close']
# tech_close_df


def total_return(close):
   return close.iloc[-1] / close.iloc[0]-1



ticker = ['WMT', 'PG', 'KO', 'PEP', 'COST', 'PM', 'MO', 'MDLZ', 'EL', 'CL', 
          'KMB', 'KHC','WBA', 'GIS', 'MNST', 'STZ', 'BF-B', 'SYY', 'CLX', 'KR', 
          'BRK.B', 'JPM', 'BAC', 'WFC', 'C', 'BLK', 'SPGI', 'AXP', 'MS', 'GS', 
          'CME', 'CB', 'USB', 'MMC', 'MCO', 'TFC', 'ICE', 'PGR', 'PNC', 'AON', 
          'JNJ', 'UNH', 'MRK', 'PFE', 'ABT', 'LLY', 'ABBV', 'TMO', 'AMGN', 'BMY', 
          'MDT', 'DHR', 'GILD', 'CVS', 'VRTX', 'CI', 'REGN', 'SYK', 'ANTM', 'ISRG', 
          'AMT', 'CCI', 'PLD', 'EQIX', 'DLR', 'PSA', 'SBAC', 'SPG', 'AVB', 'EQR', 
          'WELL', 'O', 'ARE', 'WY','CBRE', 'ESS', 'PEAK', 'BXP', 'VTR', 'MAA', 
          'AAPL', 'MSFT', 'V', 'MA', 'INTC', 'NVDA', 'ADBE', 'PYPL', 'CSCO', 'ORCL', 
          'CRM', 'ACN', 'AVGO', 'TXN', 'IBM', 'QCOM', 'FIS', 'NOW', 'INTU', 'FISV']

percentchange = pd.DataFrame(first_df_1.groupby(['Ticker'])['close'].apply(total_return))
percentchange = percentchange.rename(columns = {"close":"2015Q1"})
percentchange["2015Q2"] = first_df_2.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2015Q3"] = first_df_3.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2015Q4"] = first_df_4.groupby(['Ticker'])['close'].apply(total_return)

percentchange["2016Q1"] = second_df_1.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2016Q2"] = second_df_2.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2016Q3"] = second_df_3.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2016Q4"] = second_df_4.groupby(['Ticker'])['close'].apply(total_return)

percentchange["2017Q1"] = third_df_1.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2017Q2"] = third_df_2.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2017Q3"] = third_df_3.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2017Q4"] = third_df_4.groupby(['Ticker'])['close'].apply(total_return)

percentchange["2018Q1"] = fourth_df_1.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2018Q2"] = fourth_df_2.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2018Q3"] = fourth_df_3.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2018Q4"] = fourth_df_4.groupby(['Ticker'])['close'].apply(total_return)

percentchange["2019Q1"] = fifth_df_1.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2019Q2"] = fifth_df_2.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2019Q3"] = fifth_df_3.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2019Q4"] = fifth_df_4.groupby(['Ticker'])['close'].apply(total_return)

percentchange["2020Q1"] = sixth_df_1.groupby(['Ticker'])['close'].apply(total_return)
percentchange["2020Q2"] = sixth_df_2.groupby(['Ticker'])['close'].apply(total_return)
percentchange







# percentchange["2016"] = second_df.groupby(['Ticker'])['close'].apply(total_return)

# percentchange["2017"] = third_df.groupby(['Ticker'])['close'].apply(total_return)

# percentchange["2018"] = fourth_df.groupby(['Ticker'])['close'].apply(total_return)

# percentchange["2019"] = fifth_df.groupby(['Ticker'])['close'].apply(total_return)

# percentchange["2020"] = sixth_df.groupby(['Ticker'])['close'].apply(total_return)
# percentchange


#ticker = ['AAPL']

# tickername = []
# pricechange = []

# for name in ticker:
#     tickername.append(['name'])
#     pricechange.append(first_df.loc[(first_df['timestamp'] == '2015-12-31')(first_df['close']) - (first_df['timestamp'] == '2014-12-31')(first_df['close'])])

,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2,...,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2
Ticker,,,,,,,,,,,,,,,,,,,,,
AON,0.013603,0.037037,-0.111055,0.040627,0.132740,0.045764,0.029845,-0.008534,0.064198,0.120145,...,0.047239,-0.022518,0.121091,-0.054754,0.174326,0.130521,0.003057,0.076045,-0.207643,0.166990
AXP,-0.160361,-0.005120,-0.046191,-0.061783,-0.117182,-0.010423,0.053983,0.156777,0.067900,0.064846,...,-0.060719,0.050600,0.086633,-0.104892,0.146664,0.129369,-0.041802,0.052503,-0.312314,0.112020
BAC,-0.139743,0.105913,-0.084606,0.080231,-0.196673,-0.018491,0.179352,0.412141,0.067421,0.028402,...,0.015921,-0.060020,0.045051,-0.163612,0.119724,0.051105,0.005862,0.207405,-0.397217,0.118700
BLK,0.023157,-0.054286,-0.140210,0.144720,0.000147,0.005755,0.058185,0.049881,0.007805,0.101432,...,0.054525,-0.078786,-0.055527,-0.166571,0.087954,0.098112,-0.050416,0.128041,-0.124786,0.236652
BRK.B,-0.038828,-0.056887,-0.041951,0.012577,0.074523,0.020510,-0.002210,0.128123,0.022702,0.016139,...,0.006357,-0.064317,0.147120,-0.046378,-0.016113,0.061128,-0.024159,0.088838,-0.192804,-0.023629
C,-0.047865,0.072205,-0.101919,0.043136,-0.193237,0.015329,0.114178,0.258310,0.006562,0.118021,...,-0.092864,-0.008593,0.072026,-0.274324,0.195159,0.125522,-0.013566,0.156485,-0.472775,0.213200
CB,-0.029509,-0.087990,0.016916,0.130077,0.019683,0.097021,-0.038712,0.051492,0.031259,0.067009,...,-0.064053,-0.071288,0.052118,-0.033373,0.084378,0.051471,0.096069,-0.035803,-0.282475,0.133674
CME,0.068359,-0.017422,-0.003439,-0.023075,0.060155,0.014055,0.073101,0.103617,0.029909,0.054209,...,0.107429,0.013478,0.038372,0.105223,-0.125133,0.179426,0.088764,-0.050251,-0.138551,-0.059973
GS,-0.030233,0.110762,-0.167776,0.037235,-0.129002,-0.053510,0.085409,0.484777,-0.040635,-0.034041,...,-0.011383,-0.124236,0.016639,-0.255039,0.149297,0.065681,0.012854,0.109540,-0.327665,0.278349
ICE,0.063751,-0.041411,0.050892,0.090514,-0.082416,0.088543,0.052352,-0.790541,0.061149,0.101052,...,0.027778,0.014203,0.018219,0.005875,0.010753,0.128710,0.073656,0.003035,-0.127499,0.134365
JPM,-0.031959,0.118521,-0.100207,0.082992,-0.103135,0.049477,0.071440,0.295840,0.017963,0.040528,...,0.028334,-0.052469,0.082917,-0.134881,0.036980,0.104416,0.052683,0.184468,-0.354161,0.044763
MCO,0.083394,0.040077,-0.090404,0.021792,-0.037672,-0.029515,0.155480,-0.129387,0.188501,0.086041,...,0.092744,0.057409,-0.019700,-0.162440,0.293131,0.078524,0.048743,0.159059,-0.109136,0.298960
MMC,-0.020091,0.010875,-0.079012,0.061854,0.096303,0.126172,-0.017675,0.005056,0.093209,0.055082,...,0.014744,-0.007507,0.009150,-0.035904,0.177429,0.062300,0.003008,0.113543,-0.223948,0.241846
MS,-0.080155,0.086859,-0.187935,0.009841,-0.213769,0.038784,0.234026,0.317842,0.013964,0.040149,...,0.028397,-0.121572,-0.017511,-0.148594,0.064313,0.038152,-0.026021,0.198031,-0.334898,0.420588
PGR,0.007781,0.023162,0.100970,0.037859,0.105031,-0.046670,-0.059701,0.126984,0.103662,0.125319,...,0.081854,-0.029214,0.201014,-0.150760,0.194928,0.108753,-0.033529,-0.062913,0.020030,0.084913
PNC,0.022032,0.025847,-0.067433,0.068498,-0.112685,-0.037602,0.106893,0.298257,0.028044,0.038506,...,0.048167,-0.106718,0.008068,-0.141567,0.049183,0.119191,0.020979,0.138913,-0.400363,0.099143
SPGI,0.162059,-0.028530,-0.138875,0.139653,0.004058,0.083653,0.179937,-0.150284,0.215734,0.116644,...,0.127863,0.067152,-0.041689,-0.130252,0.238967,0.081881,0.075464,0.114581,-0.102545,0.344542
TFC,0.002571,0.033855,-0.116844,0.062079,-0.120074,0.070334,0.059253,0.246554,-0.049341,0.015884,...,0.046661,-0.030746,-0.037669,-0.107540,0.074100,0.055878,0.086302,0.055274,-0.452415,0.217575
USB,-0.028476,-0.006183,-0.055069,0.040478,-0.048746,-0.006406,0.063476,0.197715,0.002531,0.008155,...,-0.057484,-0.009505,0.055778,-0.134634,0.054486,0.087363,0.056107,0.071377,-0.418958,0.068795
WFC,-0.007661,0.033824,-0.086949,0.058617,-0.110375,-0.021299,-0.064441,0.244580,0.009980,-0.004492,...,-0.136146,0.057813,-0.051948,-0.123288,0.048611,-0.020695,0.065934,0.066614,-0.466543,-0.108014

In [281]:
percentchange.mean()
financialqtravg = pd.DataFrame(percentchange.mean())
financialqtravg = financialqtravg.rename(columns = {0:"Financials"})
financialqtravg["Financials"] = financialqtravg*100
financialqtravg["Financials"] = financialqtravg["Financials"].astype(float).map("{:,.2f}%".format)
financialqtravg

       Financials
2015Q1     -0.84%
2015Q2      2.01%
2015Q3     -7.26%
2015Q4      5.39%
2016Q1     -4.86%
2016Q2      2.16%
2016Q3      6.67%
2016Q4     11.50%
2017Q1      4.71%
2017Q2      5.80%
2017Q3      6.38%
2017Q4      6.76%
2018Q1      1.53%
2018Q2     -2.63%
2018Q3      3.65%
2018Q4    -11.29%
2019Q1     10.30%
2019Q2      8.68%
2019Q3      2.50%
2019Q4      8.87%
2020Q1    -27.13%
2020Q2     15.12%